.content-width, .container {
  width: 90%;
  margin: 0 auto;
}

.error-message {
  color: red;
  padding: 4px 8px;
}

.success-message {
  color: green;
  padding: 4px 8px;
}

.font-title {
  font-size: 16px;
  font-weight: bold;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.mt-md {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 32px;
}

.mb-md {
  margin-bottom: 16px;
}

.mr-md {
  margin-right: 16px;
}

.btn {
  padding: 4px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.05, 1.05);
}
.btn:disabled {
  opacity: 0.5;
  cursor: default;
  transition: none;
  transform: scale(1, 1);
}
.btn-blue {
  background: rgba(3, 0, 80, 0.806);
  color: white;
}
.btn-green {
  background: rgba(12, 202, 113, 0.959);
  color: white;
}
.btn-skyblue {
  background: rgba(216, 226, 247, 0.717);
  color: rgb(24, 142, 253);
  border: solid 1px rgb(24, 142, 253);
}
.btn-gray {
  background: rgba(224, 221, 221, 0.717);
  border: solid 1px rgba(118, 117, 117, 0.929);
}
.btn-red {
  background: rgb(252, 229, 229);
  color: red;
  border: solid 1px rgb(253, 24, 62);
}

.radius {
  border-radius: 10px;
  padding: 2px 0;
}

.text-center {
  text-align: center;
}

.global-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(242, 242, 246, 0.941);
}

.page-title {
  text-align: center;
  margin-top: 100px;
}

.login {
  margin-top: 40px;
}
.login__item {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.login__label {
  display: flex;
  flex-basis: 10%;
  align-items: center;
  justify-content: center;
}
.login__input {
  flex-basis: 30%;
  height: 20px;
}
.login__input:focus {
  outline: none;
}
.login__btn {
  margin-top: 20px;
  text-align: center;
}
.login__btn .btn {
  padding: 4px 32px;
  background: white;
  color: rgb(33, 110, 252);
  border: 1px solid rgb(33, 110, 252);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.login__btn .btn:hover {
  transform: scale(1.1, 1.1);
}
.login__error {
  text-align: center;
}
