@use "common" as *;

.local-container {
    background: rgb(241, 241, 241);
    width: 100%;
}

.page-title {
    @extend .content-width;
    @extend .font-title;
    text-align: left;
}

.account {
    @extend .content-width;
    background: white;

    &__form {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            margin-top: 25px;
        }

        &-label {
            display: inline-flex;
            margin-left: 10px;
            flex-basis: 30%;
            justify-content: flex-end;
            align-items: center;
        }

        &-input {
            justify-content: flex-end;
            margin-left: 15px;
            flex-basis: 50%;
            border: 1px solid black;
            border-radius: 3px;
            padding: 4px 6px;
        }

        &-select {
            appearance: menulist;
            justify-content: flex-end;
            margin-left: 15px;
            flex-basis: 50%;
            border: 1px solid black;
            border-radius: 3px;
            padding: 4px 6px;
        }
    }
}
