@use "common" as *;

.local-container {
    flex-basis: 80%;
}

.header {
    display: flex;
    justify-content: center;

    &__title {
        display: flex;
        justify-content: flex-start;
        flex-basis: 10%;
    }

    &__user {
        display: flex;
        flex-basis: 60%;
        justify-content: flex-end;

        &-id {
            text-align: center;
            padding: 0 4px;
            background: rgba(228, 226, 226, 0.966);
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;
        flex-basis: 10%;

        & .btn {
            background: rgb(2, 1, 113);
            padding: 1px 4px;
            color: white;
            border-radius: 10px;
        }
    }
}

.home {
    display: flex;
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-basis: 22%;
        margin-left: 20px;
        margin-bottom: 25px;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid rgba(40, 144, 218, 0.749);
        color: rgba(40, 144, 218, 0.749);
        border-radius: 3px;
    }
}
